#grid {
  margin: auto;
}

.blocks {
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: block;
  border: solid 1px #000;
  user-select: none;
  cursor: pointer;
}

.dark {
  background-color: #000;
}
